body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.Orange {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 85%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, grey);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}